<h1>Update the &#8216;{{ task.getDescription }}&#8217; Task </h1>

<form action="/tasks/{{ task.getId }}" method="post">
  <input name="_method" type="hidden" value="patch">

  <label for="description">Update your task:</label>
  <input id="description" name="description" type="text">

  <button type="submit">Update</button>
</form>
